{% extends 'base.html' %}


{% block titulo%} Agregar {% endblock %}

{% block contenido %}
   <form method="POST">
    {% csrf_token %}
    <div class="page-header">
        <h1>Ingrese los datos que se piden</h1>
      </div>

      <!--<div >{{msg}}</div>-->

      <div class="row">
        <div class="col-sm-5">
          <div class="panel panel-primary">
            <div class="panel-heading"> </div>            
            <div class="panel-body">
              <h4>&nbsp;&nbsp;&nbsp;Datos Personales&nbsp;&nbsp;&nbsp;&nbsp;</h4>
              <br>
               {{form.Zona.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               {{form.Zona.errors}}
               {{form.Zona}}
              <br>
              <br>
              {{form.Contrato.label}}&nbsp;&nbsp;
              {{form.Contrato.errors}}
              {{form.Contrato}}
              <br>
              <br>
              {{form.Dig_verf.label}}&nbsp;&nbsp;&nbsp;
              {{form.Dig_verf.errors}}
              {{form.Dig_verf}}
              <br>
              <br>
              {{form.Nombre.label}}&nbsp;&nbsp;&nbsp;
              {{form.Nombre.errors}}
              {{form.Nombre}}
              <br>
              <br>
              {{form.RFC.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{form.RFC.errors}}
              {{form.RFC}}
              <br>
              <br>
              <h4>&nbsp;&nbsp;&nbsp;Direccion&nbsp;&nbsp;&nbsp;</h4>
              <br>
              {{form.Telefono.label}}&nbsp;&nbsp;
              {{form.Telefono.errors}}
              {{form.Telefono}}
              <br>
              <br>
              {{form.Calle.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{form.Calle.errors}}
              {{form.Calle}}
              <br>
              <br>
              {{form.Municipio.label}}&nbsp;
              {{form.Municipio.errors}}
              {{form.Municipio}}
              <br>
              <br>
              {{form.No_Interior.label}}
              {{form.No_Interior.errors}}
              {{form.No_Interior}}
              <br>
              <br>
              {{form.Colonia.label}}&nbsp;&nbsp;&nbsp;&nbsp;
              {{form.Colonia.errors}}
              {{form.Colonia}}
              <br>
              <br>
              {{form.Fecha_Registro.label}}
              {{form.Fecha_Registro}}
              <br>          
              <br>
              </div>
          </div>  
            <input class="btn btn-primary" type="submit" value="Guardar">
      
        </div><!-- /.col-sm-4 -->
      <div class="col-sm-5">
        <div class="panel panel-primary">
          <div class="panel-heading"> </div>
            <div class="panel-body">
              <h4>&nbsp;&nbsp;&nbsp;Datos de Identificacion de usuario &nbsp;&nbsp;&nbsp;&nbsp;</h4>
              <br>
              {{form.tipo_usuario.label}}
              {{form.tipo_usuario.errors}}
              {{form.tipo_usuario}}
              <br>
              <br>
              {{form.tipo_servicio.label}}
              {{form.tipo_servicio.errors}}
              {{form.tipo_servicio}}
              <br>
              <br>
              {{form.diametro_toma.label}}
              {{form.diametro_toma.errors}}
              {{form.diametro_toma}}              
              <br>
              <br>
              {{form.consumo_promedio.label}}
              {{form.consumo_promedio.errors}}
              {{form.consumo_promedio}}
              <br>
              <br>
              <h4>&nbsp;&nbsp;&nbsp; Datos del medidor &nbsp;&nbsp;&nbsp;</h4>
              <br>
              {{form.No_Medidor.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{form.No_Medidor.errors}}
              {{form.No_Medidor}}
              <br>
              <br>
              {{form.marca_medidor.label}}
              {{form.marca_medidor.errors}}
              {{form.marca_medidor}}
              <br>
              <br>
              {{form.Capacidad_Digitos.label}}
              {{form.Capacidad_Digitos.errors}}
              {{form.Capacidad_Digitos}}
              <br>
              <br>
              <h4>&nbsp;&nbsp;&nbsp;Ubicacion de la toma &nbsp;&nbsp;&nbsp;</h4>
              <br>
              {{form.sector.label}}
              {{form.sector.errors}}
              {{form.sector}}
              <br>
              <br>
              {{form.ruta.label}}&nbsp;&nbsp;&nbsp;
              {{form.ruta.errors}}
              {{form.ruta}}
              <br>
              <br>
              {{form.folio.label}}&nbsp;&nbsp;&nbsp;
              {{form.folio.errors}}
              {{form.folio}} 
              <br>
              <br>  
              {{form.lectura.label}}
              {{form.lectura.errors}}
              {{form.lectura}} 
              <br>    
            </div>
          </div>          
        </div>
      </div><!-- /.col-sm-4 -->
        
      </div>
    </div><!-- /.col-sm-4 -->
   </div>

   </form>
{% endblock %}