{% extends 'base.html'%}

{% block titulo %} CCP {% endblock %}

{% block contenido %}
   <div class="jumbotron">
        <h3>Concepto de pago</h3>

	     <p><a href="{% url 'vista_concepto_pago_add'%}"><h4>Agregar </h4></a></p>
	   {% if lista_concepto_pago  %}
        {% for dt in lista_concepto_pago %}
        	<p> <h4>{{ dt.concepto}}</h4> <button>  <a href="{% url 'vista_concepto_pago_edit' dt.id %}">Actualizar</a></button>	

        	   <button  onClick="if (confirm('Esta seguro de querer eliminar {{dt.concepto}}!')){window.location.href = '{% url 'vista_concepto_pago_del' dt.id %}';};"><i class="icon-minus-sign"></i>Dar de baja</button></p>

        {% endfor %}

        {% else %}
            Nose ha encontrado la lista concepto de pago
	     {% endif %}
   </div>

 {% endblock %}