{%extends 'base.html'%}

{% block titulo %} Empleado {% endblock %}

{% block contenido %}

   <div class="jumbotron">
        <h1>Registro de Personal</h1>
	     
       <p><a href="{% url 'vista_lista_empleado_add'%}"><h1>Agregar </h1></a></p>
        {% if lista_empleado %}
     	      {% for dt in lista_empleado %}
      		<p><h4>{{ dt.Nombre}}</h4> <button> <a href="{% url 'vista_lista_empleado_edit' dt.id %}">Actualizar</a></button>

      		<button  onClick="if (confirm('Esta seguro de quiere eliminar {{dt.nombre}}!')){window.location.href = '{% url 'vista_lista_empleado_del' dt.id %}';};"><i class="icon-minus-sign"></i>Dar de baja</button></p>

     	 	{% endfor %}

    	{% else %}
    	nose ha encontrado la lista de empleados
	 {% endif %}

  </div>

  {% endblock %}

