{% extends 'base.html'%}

{% block titulo %} Cliente{% endblock %}

{% block contenido %}
   <div class="jumbotron">
        <h1>Ubicacion de la Toma</h1>

	         <p><a href="{% url 'vista_ubicacion_toma_add'%}"><h1>Agregar </h1></a></p>
	       {% if lista_ubicacion_toma  %}
            {% for dt in lista_ubicacion_toma %}
      	       <p><h3>{{ dt.nombre}}</h3> <button><a href="{% url 'vista_ubicacion_toma_edit' dt.id %}">Actualizar</a></button>
      	       <button  onClick="if (confirm('Esta seguro de quiere eliminar {{dt.nombre}}!')){window.location.href = '{% url 'vista_ubicacion_toma_del' dt.id %}';};"><i class="icon-minus-sign"></i>Dar de baja</button></p>

            {% endfor %}

          {% else %}
            nose ha encontrado la lista ubicacion de la toma
	       {% endif %}

    </div>

{% endblock %}