{% extends 'base.html'%}

{% block titulo %} CMM{% endblock %}

{% block contenido %}
   <div class="jumbotron">
        <h3>Marca Medidor</h3>

	     <p><a href="{% url 'vista_marca_medidor_add'%}"><h4>Agregar </h4></a></p>
	   {% if lista_marca_medidor  %}
        {% for dt in lista_marca_medidor %}
        	<p> <h4>{{ dt.nombre}}</h4> <button>  <a href="{% url 'vista_marca_medidor_edit' dt.id %}">Actualizar</a></button>	

        	   <button  onClick="if (confirm('Esta seguro de querer eliminar {{dt.nombre}}!')){window.location.href = '{% url 'vista_marca_medidor_del' dt.id %}';};"><i class="icon-minus-sign"></i>Dar de baja</button></p>

        {% endfor %}

        {% else %}
       Nose ha encontrado la lista marca medidor
	   {% endif %}
  </div>

 {% endblock %}